.header {
  background-color:#FFF;
  float: left;
        }

body {
  font-family: Helvetica, serif;
  margin: 5% 10% 5% 10%;
}

img {
  height: 60%;
  width: 30%;
  border: 6px solid gray;
    }

p {
  font-weight: bold;
  }

h4 {
  font-size: 25px;
}

#profilePhoto {
  float: right;
  text-align: center;
}
  
