.header {
  background-color:#FFF;
        }

body {
  font-family: Helvetica, serif;
  margin: 5% 10% 5% 10%;
}

img {
  height: 40%;
  width: 20%;
    }

p {
  font-weight: bold;
  }

h4 {
  font-size: 25px;
}

#profilePhoto {
  float: right;
}
  
