.header {
  text-align: center;
        }

body {
  font-family: Helvetica, serif;
  margin-right: 10%;
  margin-left: 10%;
}

img {
  height: 40%;
  width: 20%;
    }

p {
  font-weight: bold;
  }

h4 {
  font-size: 25px;
}
