.rightSide {
  float: right;
        }

.leftSide {
  float: left;
        }

body {
  font-family: Helvetica, serif;
  margin: 5% 10% 5% 10%;
  background-color: #F5F5F5;
        }

img {
  height: 52%;
  width: 26%;
  border: 4px solid gray;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

p {
  font-weight: bold;
        }

h4 {
  font-size: 25px;
        }

#profilePhoto {
  float: right;
  text-align: center;
  transform: rotate(4deg);
  animation-name: rotateimg;
  animation-duration: 100s;
        }
  
@keyframes rotateimg {
    from {transform: rotate(4deg);}
    to {transform: rotate(360deg);}
